// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-brush: 'Simple Brush Script', sans-serif;

//mediaqueries
$breakpointPhone: 375px;
$breakpointTable: 768px;
$breakpointMiddle:992px;
$breakpointLaptop: 1200px;
$breakpointDesktop:1440px;
$breakpointLargeDesktop:1600px;
$breakpointExtraLargeDesktop:1800px;
