.add-image-btn {
  margin: auto;
  border: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex; 
  padding: 1em;
  margin: 3em;
}

.card-img {
  overflow: hidden;
}

.card-btn {
  display: flex;
  justify-content: center;
  margin: auto;
}


